{% extends 'main.html' %}
{% block content %}
    {% load static %}


    <section class="page-section" id="services">
        <div class="container-fluid">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Zostałeś wylogowany</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
        </div>
     <div class='align-items-center'>

        <a href="{% url 'main' %}">
            <button class="btn btn-primary btn-xl text-uppercase" id="back" type="submit"> Wróć do strony głównej
            </button>
        </a>
    </div>
    <div>

        <a href="{% url 'login' %}">
            <button class="btn btn-primary btn-xl text-uppercase" id="back" type="submit"> Zaloguj ponownie
            </button>
        </a>
    </div>


    </section>


{% endblock %}