{% extends 'main.html' %}
{% block content %}
    {% load static %}
    <div class='float-lg-right'>

        <a href="{% url 'main' %}">
            <button class="btn btn-primary btn-xl text-uppercase" id="back" type="submit"> Wróć do strony głównej
            </button>
        </a>
    </div>

    <section class="page-section" id="login">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Zaloguj się</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
        </div>
       <form method="post" enctype="multipart/form-data">
                {% csrf_token %}

                    <div class="col-md-6 align-content-center">
                        <div class="form-group">
                            {{ form.as_table }}
                        </div>
                    </div>


                <td><div class='align-content-center'>
                    <div id="success"></div>
                    <button class="btn btn-primary btn-xl text-uppercase" id="login" type="submit">Zaloguj</button>
                </div></td>
            </form>


    </section>


{% endblock %}