{% extends 'main.html' %}
{% block content %}
    {% load static %}

     <div class='float-lg-right'>

                 <a href="{% url 'main' %}"> <button class="btn btn-primary btn-xl text-uppercase" id="back" type="submit"> Wróć do manu głównego</button></a>
                </div>
    <section class="page-section bg-light" id="portfolio">
        <div class="container d-inline">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Kategorie</h2>
                <h3 class="section-subheading text-muted">Wybierz co chciałbyś zjeść</h3>
            </div>
        </div>

    {% include "object_list_2.html" %}

            </section>

{% endblock %}