{% extends 'main.html' %}

{% block content %}
    {% load static %}
     <td><div class='float-lg-right'>

                 <a href="{% url 'plony-management' %}"> <button class="btn btn-primary btn-xl text-uppercase" id="back" type="submit"> Wróć do poprzedniej strony</button></a>
                </div></td>
    <table class="page-section" id="detail_view" >
        <div class="container">

            <div class="text-center">
                <h2 class="section-heading text-uppercase">Formularz dodawania </h2>
                <h3 class="section-subheading text-muted">Wypełnij wszystkie pola</h3>
            </div>
            <form id="detailForm" novalidate="novalidate" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row align-items-stretch mb-5">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form.as_table }}
                        </div>
                    </div>
                </div>

                <td><div class='align-content-center'>
                    <div id="success"></div>
                    <button class="btn btn-primary btn-xl text-uppercase" id="add" type="submit">Dodaj</button>
                </div></td>
            </form>

        </div>
    </table>
    <tr><td>{% include 'objects_list.html' %}</td></tr>
{% endblock %}