{% extends 'main.html' %}

{% block content %}

    <td>
        <div class='float-lg-right'>
                <button class="btn btn-primary btn-xl text-uppercase" onclick="goBack()" id="back" type="submit"> Wróć do poprzedniej
                    strony
                </button>
        </div>
    </td>
    <table class="page-section" id="detail_view">
        <div class="container">

            <div class="text-center">
                <h2 class="section-heading text-uppercase">Formularz dodawania </h2>
                <h3 class="section-subheading text-muted">Wypełnij wszystkie pola</h3>
            </div>

            <form id="detailForm" novalidate="novalidate" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row align-items-stretch mb-5">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form.as_table }}
                        </div>
                    </div>
                </div>
                <td>
                    <div class='align-content-center'>
                        <div id="success"></div>
                        <button class="btn btn-primary btn-xl text-uppercase" id="add" type="submit">Dodaj</button>
                    </div>
                </td>
            </form>
        </div>
    </table>

    <div class="container ">
        <div class="row">
            {% for obj in objects %}
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="portfolio-item">
                        <a class="portfolio-link" href="/{{ obj.get_detail_url }}">
                            <img class="img-fluid " src="/plony{{ obj.img.url }}/" alt=""/>
                        </a>
                        <h3> {{ obj }}</h3>
                        <h4><a class="portfolio-link" href="{% url 'update_user' obj.pk%}">Edytuj</a></h4>
                        <h4><a class="portfolio-link" href="{% url 'delete_user' obj.pk%}">Usuń</a></h4>

                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <script>
function goBack() {
  window.history.back();
}
</script>

{% endblock %}






    <a href="{% url 'delete_user'  obj.pk %}">
        <div class="align-bottom">
            <h3>Usuń</h3></div>
    </a>