{% load static %}
<section class="page-section bg-light" id="list">
    <div class="container ">
        <div class="row">
            {% for obj in objects %}
                    <div class="col-lg-4">
                        <div class="portfolio-item">
                            <a class="portfolio-link" href="/{{ obj.get_detail_url }}">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="/plony{{ obj.img.url }}/" alt=""/>
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">{{ obj.name }}</div>
                            </div>
                        </div>
                    </div>
            {% endfor %}
        </div>
    </div>
</section>