{% load static %}
<section class="page-section bg-light" id="team">
    <div class="container ">
        <div class="row">
            {% for obj in objects %}
                <div class="col-lg-4">
                    <div style="width:auto">
                        <div class="portfolio-item">
                            <a class="portfolio-link" href="/{{ obj.get_detail_url }}">

                                <img class="img-fluid " src="/plony{{ obj.img.url }}/" alt=""/>
                            </a>
                            <h3> {{ obj }}</h3>
                            <h4>{{ obj.get_category }}</h4>
                            <h4>{{ obj.occupation }}</h4>
                            <h4><a class="portfolio-link" href="/{{ obj.get_update }}">Edytuj</a></h4>

                            {% if obj.get_account_details %}
                                <h4><a class="portfolio-link" style="display: block"
                                       href="/{{ obj.get_account_details }}">Konto</a></h4>
                            {% else %}
                                <h4><a class="portfolio-link" style="display: none"
                                       href="/{{ obj.get_account_details }}">Konto</a></h4>
                            {% endif %}

                            <a href="{{ obj.get_delete }}">
                                <div class="align-bottom">
                                    <h3>Usuń</h3></div>
                            </a>

                        </div>
                    </div>
                </div>

            {% endfor %}
         </div>
    </div>
</section>